.similar-recipe-wrapper {
  display: block;
  cursor: pointer;
}

.similar-img-container {
  margin-top: 0;
}

.similar-recipe-img {
  opacity: 1;
  transition: .3s ease;
  backface-visibility: hidden;
  height: auto;
  display: block;
  max-width: 75%;
}
.similar-recipe-img:hover {
  opacity: .3;
}

.similar-title-container {
  margin-top: 10px;
  font-weight: bold;
  font-size: medium;
  font-family: Roboto;
}

.similar-time-container {
  margin-top: 5px;
  font-family: Roboto;
  font-size: small;
  margin-bottom: 10px !important;
}

.similar-viewport{
  height: 100vh;
  width: 100%;
  text-align: -webkit-center;
}


::ng-deep .mat-grid-tile-content {
  /*display: flex;*/
   align-items: normal !important;
}

* {
  scrollbar-width: 8px;/*thin;*/
  scrollbar-color: #25add4 #2b2b2b;
}
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: #2b2b2b;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #25add4;    /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #2b2b2b; /* creates padding around scroll thumb */
}
