<mat-accordion class="mat-accordion-veggie" multi>
  <mat-expansion-panel #veggiePanel>
    <mat-expansion-panel-header (click)="expandPanel(veggiePanel, $event)">
      <mat-panel-title>
        <img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/50/000000/external-vegetables-farming-and-agriculture-wanicon-lineal-color-wanicon.png" class="ingredient-icons"/>
        Veggies & Greens
      </mat-panel-title>
      <mat-panel-description>
        <mat-button-toggle-group multiple>
          <mat-button-toggle *ngFor="let veggie of ingredients.vegetables_greens.slice(0,6)" class="toggle-btn" value="{{veggie.name}}" (change)="addSelectedIngredient(veggie)">{{veggie.name}}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-button-toggle-group multiple>
      <mat-button-toggle *ngFor="let veggie of ingredients.vegetables_greens.slice(7)" class="toggle-btn" value="{{veggie.name}}" (change)="addSelectedIngredient(veggie)">{{veggie.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>
  <mat-expansion-panel #meatPanel>
    <mat-expansion-panel-header (click)="expandPanel(meatPanel, $event)">
      <mat-panel-title>
        <img src="https://img.icons8.com/emoji/50/000000/cut-of-meat-emoji.png" class="ingredient-icons"/>
        Meat & Fish
      </mat-panel-title>
      <mat-panel-description>
        <mat-button-toggle-group multiple>
          <mat-button-toggle *ngFor="let meat of ingredients.meat_fish.slice(0,6)" class="toggle-btn" value="{{meat.name}}" (change)="addSelectedIngredient(meat)">{{meat.name}}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-button-toggle-group multiple>
      <mat-button-toggle *ngFor="let meat of ingredients.meat_fish.slice(7)" class="toggle-btn" value="{{meat.name}}" (change)="addSelectedIngredient(meat)">{{meat.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>
  <mat-expansion-panel #cereals>
    <mat-expansion-panel-header (click)="expandPanel(cereals, $event)">
      <mat-panel-title>
        <img src="https://img.icons8.com/color/48/000000/wheat.png" class="ingredient-icons"/>
        Cereals & Grains
      </mat-panel-title>
      <mat-panel-description>
        <mat-button-toggle-group multiple>
          <mat-button-toggle *ngFor="let cereals of ingredients.cereals_grains.slice(0,6)" class="toggle-btn" value="{{cereals.name}}" (change)="addSelectedIngredient(cereals)">{{cereals.name}}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-button-toggle-group multiple>
      <mat-button-toggle *ngFor="let cereals of ingredients.cereals_grains.slice(7)" class="toggle-btn" value="{{cereals.name}}" (change)="addSelectedIngredient(cereals)">{{cereals.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>
  <mat-expansion-panel #dairy>
    <mat-expansion-panel-header (click)="expandPanel(dairy, $event)">
      <mat-panel-title>
        <img src="https://img.icons8.com/external-wanicon-flat-wanicon/50/000000/external-product-advertising-wanicon-flat-wanicon.png" class="ingredient-icons"/>
        Dairy & Vegan products
      </mat-panel-title>
      <mat-panel-description>
        <mat-button-toggle-group multiple>
          <mat-button-toggle *ngFor="let dairy of ingredients.dairy_nodairy.slice(0,6)" class="toggle-btn" value="{{dairy.name}}" (change)="addSelectedIngredient(dairy)">{{dairy.name}}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-button-toggle-group multiple>
      <mat-button-toggle *ngFor="let dairy of ingredients.dairy_nodairy.slice(7)" class="toggle-btn" value="{{dairy.name}}" (change)="addSelectedIngredient(dairy)">{{dairy.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>
  <mat-expansion-panel #herbs>
    <mat-expansion-panel-header (click)="expandPanel(herbs, $event)">
      <mat-panel-title>
        <img src="https://img.icons8.com/external-icongeek26-flat-icongeek26/64/000000/external-herbs-ayurveda-icongeek26-flat-icongeek26.png" class="ingredient-icons"/>
        Herbs & Spices
      </mat-panel-title>
      <mat-panel-description>
        <mat-button-toggle-group multiple>
          <mat-button-toggle *ngFor="let herbs of ingredients.herbs_spices.slice(0,6)" class="toggle-btn" value="{{herbs.name}}" (change)="addSelectedIngredient(herbs)">{{herbs.name}}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-button-toggle-group multiple>
      <mat-button-toggle *ngFor="let herbs of ingredients.herbs_spices.slice(7)" class="toggle-btn" value="{{herbs.name}}" (change)="addSelectedIngredient(herbs)">{{herbs.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>
  <mat-expansion-panel #preserves>
    <mat-expansion-panel-header (click)="expandPanel(preserves, $event)">
      <mat-panel-title>
        <img src="https://img.icons8.com/emoji/48/000000/canned-food-emoji.png" class="ingredient-icons"/>
        Tins & Preserves
      </mat-panel-title>
      <mat-panel-description>
        <mat-button-toggle-group multiple>
          <mat-button-toggle *ngFor="let preserves of ingredients.tins_preserves.slice(0,6)" class="toggle-btn" value="{{preserves.name}}" (change)="addSelectedIngredient(preserves)">{{preserves.name}}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-button-toggle-group multiple>
      <mat-button-toggle *ngFor="let preserves of ingredients.tins_preserves.slice(7)" class="toggle-btn" value="{{preserves.name}}" (change)="addSelectedIngredient(preserves)">{{preserves.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>
  <mat-expansion-panel #fruits>
    <mat-expansion-panel-header (click)="expandPanel(fruits, $event)">
      <mat-panel-title>
        <img src="https://img.icons8.com/external-flat-icons-pack-pongsakorn-tan/50/000000/external-food-supermarket-flat-icons-pack-pongsakorn-tan.png" class="ingredient-icons"/>
        Fruits
      </mat-panel-title>
      <mat-panel-description>
        <mat-button-toggle-group multiple>
          <mat-button-toggle *ngFor="let fruit of ingredients.fruits.slice(0,6)" class="toggle-btn" value="{{fruit.name}}" (change)="addSelectedIngredient(fruit)">{{fruit.name}}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-button-toggle-group multiple>
      <mat-button-toggle *ngFor="let fruit of ingredients.fruits.slice(7)" class="toggle-btn" value="{{fruit.name}}" (change)="addSelectedIngredient(fruit)">{{fruit.name}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button class="submit-ingredients-btn" (click)="submitIngredients()">Recipire Me!</button>
<router-outlet></router-outlet>
