<mat-sidenav-container class="sideNav-container">
  <mat-sidenav #sidenav class="sideNav" mode="over" [(opened)]="isShowing">
    <selection-app id="selection-app"></selection-app>
  </mat-sidenav>
  <mat-sidenav-content class="sideNav-content">
    <header-app id="header-app"></header-app>
    <list-app id="list-app"></list-app>
    <div class="sideBySide">
      <details-app id="details-app"></details-app>
      <similar-app id="similar-app"></similar-app>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>


