    <div class="search-wrapper">
      <form>
        <input type="search" class="search-field" name="searchText"
               placeholder="Filter recipes..." [(ngModel)]="filterTerm">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>
      </form>
    </div>
    <cdk-virtual-scroll-viewport #scroller [itemSize]="200" minBufferPx="1100" maxBufferPx="1500" class="viewport">
      <mat-grid-list cols="3" rowHeight="350px" gutterSize="20px">
        <mat-grid-tile *cdkVirtualFor="let recipe of recipeData | filter:filterTerm">
          <div class="recipe-wrapper" (click)="getRecipeDetails(recipe.id)">
            <div class="img-container">
              <img src="{{recipe.image}}" class="recipe-img"/>
            </div>
            <div class="title-container">
              {{recipe.title}}
            </div>
            <div class="time-container" *ngIf="random; else elseBlock">
              {{recipe.readyInMinutes}} min.
            </div>
            <ng-template #elseBlock>
              <span class="need2buy">
                <span class="buy-label">Need to buy: </span>
              <ul class="missedIngredients" *ngFor="let missed of recipe.missedIngredients">
                <li><span class="boldy">|</span>{{missed.name}}<span class="boldy">|</span></li>
              </ul>
              </span>
            </ng-template>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </cdk-virtual-scroll-viewport>
<router-outlet></router-outlet>
